<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/dropzone")
</head>





<body>
    <style>
        .cf:before, .cf:after {
            content: "";
            display: table;
        }

        .cf:after {
            clear: both;
        }

        .cf {
            zoom: 1;
        }

        /* Form wrapper styling */
        .search-wrapper {
            width: 220px;
            position:absolute;
            top:-40px;
            right:10px;
            display:inline-block;
            margin: 45px auto 50px auto;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
        }

            /* Form text input */

            .search-wrapper input {
                width: 138px;
                height: 20px;
                padding: 10px 5px;
                float: left;
                font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
                border: 0;
                background: #EEE;
                border-radius: 3px 0 0 3px;
            }

                .search-wrapper input:focus {
                    outline: 0;
                    background: #fff;
                    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
                }

                .search-wrapper input::-webkit-input-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

                .search-wrapper input:-moz-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

                .search-wrapper input:-ms-input-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

            /* Form submit button */
            .search-wrapper button {
                overflow: visible;
                position: relative;
                float: right;
                border: 0;
                padding: 0;
                cursor: pointer;
                height: 40px;
                width: 72px;
                font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
                color: white;
                text-transform: uppercase;
                background: #D83C3C;
                border-radius: 0 3px 3px 0;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            }

                .search-wrapper button:hover {
                    background: #e54040;
                }

                .search-wrapper button:active,
                .search-wrapper button:focus {
                    background: #c42f2f;
                    outline: 0;
                }

                .search-wrapper button:before { /* left arrow */
                    content: '';
                    position: absolute;
                    border-width: 8px 8px 8px 0;
                    border-style: solid solid solid none;
                    border-color: transparent #d83c3c transparent;
                    top: 12px;
                    left: -6px;
                }

                .search-wrapper button:hover:before {
                    border-right-color: #e54040;
                }

                .search-wrapper button:focus:before,
                .search-wrapper button:active:before {
                    border-right-color: #c42f2f;
                }

                .search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
                    border: 0;
                    padding: 0;
                }
    </style>

 
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">  
                     
                @Html.ActionLink("Site", "Index", "Sites", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")    
            </div>
            @using (Ajax.BeginForm("Search", "Sites", new { }, new AjaxOptions() { UpdateTargetId = "updatetarget" }, new { @class = "search-wrapper cf" }))
            {
                <input type="text" id="searchValue" placeholder="Search here..." required="" name="SearchValue">
                <input type="hidden" id="tagSearch" name="tagSearch" value="false" />
                <button class="search" type="submit">@Resources.Resource.Search</button>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fabric")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
