@model Sitemaker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div id="userActions">
        <p>Photo</p>
        <img id="imgPrime" type="file" id="fileUpload" src="@Model.PhotoUrl" width="300" height="300" />
    </div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Change Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
<script src="~/Scripts/ChangePhoto.js"></script>
