@model Sitemaker.Models.Site
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Comments";
}

@Styles.Render("~/Content/Comment.css")
@Styles.Render("~/Content/Rating")


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<script src="~/Scripts/AddRaitingOnComment.js"></script>


<link href="~/Content/TagsLink.css" rel="stylesheet" />

@{
    JavaScriptSerializer jss = new JavaScriptSerializer();
    string output = jss.Serialize(Model.Tags.Select(x => x.Name));
    string source = jss.Serialize(ViewBag.Tags);
}

<div class="jumbotron">
<table class="table">
    <tr></tr>

        <tr>
            <td>
                <h2>@Model.Name</h2>
                <p>
                    <img style="width:120px; height:120px" src="@Model.Logo" />
                </p>
                <p>
                    <div class="stars">
                        <form action="" class="formstars">
                            <input class="star star-1" id="1" type="radio" name="star" />
                            <label class="star star-1" for="1"></label>
                            <input class="star star-2" id="2" type="radio" name="star" />
                            <label class="star star-2" for="2"></label>
                            <input class="star star-3" id="3" type="radio" name="star" />
                            <label class="star star-3" for="3"></label>
                            <input class="star star-4" id="4" type="radio" name="star" />
                            <label class="star star-4" for="4"></label>
                            <input class="star star-5" id="5" type="radio" name="star" />
                            <label class="star star-5" for="5"></label>
                        </form>
                    </div>
                </p>
                <p>
                    <ul class="tags">
                        @foreach (var item in Model.Tags)
                        {
                            <li><a href="@Url.Action("Search", "Sites", new {SearchValue = @item.Name, tagSearch=true})" class="tag">@item.Name</a></li>
                        }
                    </ul>
                </p>
                    <ul itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
                        <li >@Resources.Resource.Rating:<strong class="AverageRating" itemprop="average">@Model.AverageRating</strong></li>
                        <li>@Resources.Resource.BaseOn: <strong itemprop="count">@Model.RatingCount</strong> reviews</li>
                    </ul>
            </td>
            <td>
                @Model.About
            </td>
            <td id="signature"><a href="@Url.Action("ShowUser", "Sites", new {userName = (string)Session["CurrentUserName"], siteCreator = Model.UserName })">@Model.UserName</a>, @Model.Date</td>
</table>
</div>

@if (User.Identity.IsAuthenticated)
{
    <body>
    <div class="container">
        <form role="form">
            <div class="form-group">
                <label for="comment">@Resources.Resource.Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <input type="button" id="addComment" class="btn btn-primary" value="@Resources.Resource.Add">
            </div>
        </form>
    </div>
    </body>
}


<section class="messages">
@foreach (var item in Model.Comments.Reverse())
{
    <article class="message">
        <a class="message-img" href="#non">
            <img src="~/img/userIcon.png"  width="50" height="50">
        </a>
        <div class="message-body">
            <div class="text">
                <p>@item.UserComment</p>
            </div>
            <p class="attribution"><a href="@Url.Action("ShowUser", "Sites", new {userName = (string)Session["CurrentUserName"], siteCreator = item.UserName })">@item.UserName</a>, @item.Date</p>
        </div>
    </article>
}  
</section>​

@Scripts.Render("~/bundles/addComment")

