@model Sitemaker.Models.Site
@{
    ViewBag.Title = "CreateSite";
}

<style>
    .thumb{
        display: inline-block;
    }
    .thumb img {
        padding: 10px;
        background: #666;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        .thumb img.selected {
            border: 2px solid #55c5e9;
        }

        .thumbMune{
        display: inline-block;
    }
    .thumbMenu img {
        padding: 10px;
        background: #666;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        .thumbMenu img.selected {
            border: 2px solid #55c5e9;
        }
</style>


@Scripts.Render("~/bundles/createSlideShow")
<table>
    <tr><td><p>Введите название сайта :</p></td></tr>
        <tr><td><input type="text" id="Name" value=@Model.Name /> </td>
    </tr>
    <tr>
        <td><p>Описание :</p></td></tr>
       <tr> <td><textarea cols="100" id="Textarea" rows="5">@Model.About </textarea></td>
    </tr>
@{if (Model.Name == null)
    {
                    <tr>
                         <td>
                             <p>
                                   <h3>Добавьте логотип</h3>
    
                                   <div>
                                        <input type="file" name="upload" id="uploadFile" />
                                   </div>
                             </p>
                        </td>
                   <td></td>
                  </tr>


                <tr><td><p>Выберите тему сайта :</p></td></tr>

                <td>
                    <div class="thumb">
                        <img align="left" id="1" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/QyCaGKpK8Ag_ftpqqx.jpg" style="width: 450px; height: 320px; " />
                        <img align="left" id="2" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/gtaLFel2tl4_j7nugp.jpg" style="width: 450px; height: 320px; " />
                        <div>
                </td>

                <tr><td><p>Выберите шаблон меню :</p></td></tr>

                <td>
                    <div class="thumbMenu">
                        <img align="left" data-id="1" alt="Меню" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969081/oiyngrnh1utelwzvmihv.jpg" style="width: 350px; height: 320px; " />
                        <img align="left" data-id="2" alt="Меню" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969833/%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9_f1pxjm.jpg" style="width: 350px; height: 320px; " />
                        <img align="left" data-id="3" alt="Меню" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969873/%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B91_pi3ikd.jpg" style="width: 350px; height: 320px; " />
                         <div>
                </td>



                <tr>
                    <td><input id="save" type="button" class="btn btn-success" value="Сохранить" /> </td>
                    <td></td>
                </tr>
    }
    else
    {
        <img style="width:120px; height:120px" src="@Model.Logo" />
        foreach (var x in Model.Pages)
        {
            <li><a href="@Url.Action("Page", "Sites", new { id = Model.Id, pageId = @x.Id })" class="btn btn-primary">@x.Id</a></li>
        }

        @*<td>
            <h3>Изменить логотип</h3>
            <div>
                <input type="file" name="upload" id="uploadFile" /><br />
            </div>
        </td>*@
        <tr>
            <td><a href="@Url.Action("CreatePage1", "Sites", new { id = Model.Id })" class="btn btn-primary">Create Page</a></td>
            <td><input id="saveChange" type="button" class="btn btn-success" value="Сохранить изменения" /> </td>
        </tr>
        }
    }

</table>



