@model Sitemaker.Models.Site
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "CreateSite";
}

<style>
h2,h3 {
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 12px;
        font-style: italic;
        text-align: center;
    }
    body{
        margin: 0;
        font-family: Tahoma;
    }
    /*==================Выбор темы=====================*/
    #theme-wrapper {
        background-color: rgb(245,245,245);
        height: 1100px;
    }
    #theme-wrapper .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    #theme-wrapper h2 {
        text-align: center;
        padding-top: 50px;
        color: rgb(100,100,100);
        font-size: 26px;        
    }
    #theme-wrapper p {
        font-size: 12px;
        font-style: italic;
        text-align: center;
        color: rgb(180,180,180);
    }
    #theme-wrapper .img-wrapper {
        margin-top: 50px;
    }
    #theme-wrapper .theme-img{
        display: inline-block;
        margin-left: 100px;
        width: 350px;
        height: 350px;
        border-radius: 50%;    
        /*opacity: 0.4;*/
        transition: 0.5s;
    }
    #theme-wrapper .theme-img:hover {
        opacity: 1;
    }

    .theme-img img.selected{
        opacity: 1;
    }
    
    /*=================Описание сайта и теги======================*/
    #description-wrapper {
        height: 600px;
        background-color: rgb(231,241,248);
    }
    #description-wrapper .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    #description-wrapper h2 {
        color: rgb(60,71,97);
        font-size: 26px;
        text-align: center;
        padding-top: 40px;
    }
    #description-wrapper p {
        color: rgb(135,135,135);
    }
    #description-wrapper .name {
        display: block;
        width: 300px;
        height: 20px;
        margin: 20px auto 0 auto;
        border: 2px solid rgba(0,0,0,.3);
        border-radius: 5px;
    }
    #description-wrapper .line {
        height: 1px;
        width: 600px;
        background-color: rgba(0,0,0,.2);
        margin: 40px auto 0 auto;
    }
    /*===============Логотип======================*/
    #logo-wrapper {
        height: 400px;
    }
    #logo-wrapper .wrapper {
        width: 600px;
        margin: 0 auto;
    }
    #logo-wrapper h2 {
        padding-top: 40px;
        margin: 0 auto;
        text-align: center;
    }
    #logo-wrapper p {
        color: rgb(160,160,160);
    }
    #logo-wrapper .but {
        display: block;
        width: 128px;
        height: 128px;
        margin: 40px auto 0 auto;
        background: url(175353.png) repeat;
        background-size: cover;
        opacity: 0.4;
        transition: 0.4s;
    }
    #logo-wrapper .but:hover {
        opacity: 1;
    }
    #top-wrapper {
        height: 50px;
        background-color: rgb(30,30,30);
    }

            .thumb img.selected {
                opacity: 1;
                border: 7px solid #B0C4DE;
            }


        .thumbMenu img.selected {
            opacity: 1;
            border: 7px solid #B0C4DE;
        }
</style>
@Styles.Render("~/Content/ImagePreview")
<link href="~/Content/jquery.tag-editor.css" rel="stylesheet" />
<script src="~/Scripts/jquery.tag-editor.min.js"></script>
@Scripts.Render("~/bundles/createSlideShow")

<div id="theme-wrapper">
    <div class="wrapper">
        <h2>Для начала выберите тему вашего будущего сайта</h2>
        <p>То, как будет выглядить ваш сайт, зависит от одного клика</p>
        <div class="img-wrapper">
            <div class="thumb">
                <img class="theme-img selected" align="left" id="1" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/QyCaGKpK8Ag_ftpqqx.jpg" />
                <img class="theme-img" align="left" id="2" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/gtaLFel2tl4_j7nugp.jpg" />
            </div>
       </div>
        <div class="img-wrapper"><p></p>
<br />
<p><h2>Выберите тему меню</h2><p>
<p></p></div>
        
        <div class="img-wrapper">
            <div class="thumbMenu">
                <img class="theme-img top" align="left" id="1" alt="Menu" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969081/oiyngrnh1utelwzvmihv.jpg" />
                <img class="theme-img side" align="left" id="2" alt="Menu" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969833/%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9_f1pxjm.jpg" />
            </div>
        </div>
    </div>
</div>

<div id="description-wrapper">
    <div class="wrapper">
        <h2>Придумайте название для сайта</h2>
        <p>Придумайте короткое и легко запоминающееся название</p>
        <input type="text" class="name"  id="Name" value=@Model.Name>
        <div class="line"></div>
        <h2>Добавьте описание</h2>
        <p class="com">Опишите свой сайт</p>
        <textarea class="name" id="Textarea" rows="5">@Model.About </textarea>
        <div class="line"></div>
        <h2>Добавьте теги</h2>
        <p class="com">Добавьте ключевые слова, вкратце описывающие ваш сайт</p>
        <div class="com" style="margin-top: 10px"><label>Tags</label><br/><textarea id="tags"></textarea>
        </div>
        <div class="line"></div>
        <h2>И осталось добавить логотип</h2>
        <div class="com">
                <div class="upload-file-container">
                    <img id="image" alt=""  style="align-content: center; align-self: center"/>
                        <span>Add photo</span>
                        <input type="file" name="upload" id="uploadFile" class="photo"  />
                </div>
        </div>
        <div class="com">
            <h3><input id="save" type="button" class="btn btn-default" value="Сохранить" /></h3></div>
        
    </div>
</div>




<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
@{
    JavaScriptSerializer jss = new JavaScriptSerializer();
    string output = jss.Serialize(Model.Tags.Select(x => x.Name));
    string source = jss.Serialize(ViewBag.Tags);
}

<script>
    $('#tags').tagEditor({ 
        initialTags: @Html.Raw(output), 
        autocomplete: { 
            delay: 0, // show suggestions immediately 
            position: { collision: 'flip' }, // automatic menu position up/down 
            source: @Html.Raw(source)}, 
        forceLowercase: false, 
        placeholder: 'теги здесь ...' 
    });
    </script>
<script>
    $("#uploadFile").change(function () {
        readURL(this);
    });
</script>
