@model Sitemaker.Models.Site
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "CreateSite";
}

<style>
    .thumb {
        display: inline-block;
    }

        .thumb img {
            padding: 10px;
            background: #666;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .thumb img.selected {
                border: 2px solid #55c5e9;
            }

    .thumbMune {
        display: inline-block;
    }

    .thumbMenu img {
        padding: 10px;
        background: #666;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        .thumbMenu img.selected {
            border: 2px solid #55c5e9;
        }

@Styles.Render("~/Content/ImagePreview")

</style>
<link href="~/Content/jquery.tag-editor.css" rel="stylesheet" />
<script src="~/Scripts/jquery.tag-editor.min.js"></script>
@Scripts.Render("~/bundles/createSlideShow")
<table>
    <tr><td><p>Введите название сайта :</p></td></tr>
    <tr>
        <td><input type="text" id="Name" value=@Model.Name /> </td>
    </tr>
    <tr>
        <td><p>Описание :</p></td>
    </tr>
    <tr>
        <td><textarea cols="100" id="Textarea" rows="5">@Model.About </textarea></td>
    </tr>
    <tr>
        <td>
            <p>
                <h3>Добавьте логотип</h3>

                <fieldset>

                    <div class="input-file-row-1">

                        <div class="upload-file-container">
                            <img id="image" alt=""/>
                            <div class="upload-file-container-text">
                                <span>Add<br />photo</span>
                                <input type="file" name="upload" id="uploadFile" class="photo"/>
                            </div>
                        </div>

                    </div>
                </fieldset>

               
            </p>
        </td>
        <td></td>
    </tr>

    <td>
        <div class="ui-front" style="margin-top: 10px"><label>Tags</label><br /><textarea id="tags"></textarea></div>
    </td>

    <tr><td><p>Выберите тему сайта :</p></td></tr>

    <td>
        <div class="thumb">
            <img align="left" id="1" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/QyCaGKpK8Ag_ftpqqx.jpg" style="width: 450px; height: 320px; " />
            <img align="left" id="2" alt="Тема" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469968200/gtaLFel2tl4_j7nugp.jpg" style="width: 450px; height: 320px; " />
            <div>
    </td>

    <tr><td><p>Выберите шаблон меню :</p></td></tr>

    <td>
        <div class="thumbMenu">
            <img class="top" align="left" data-id="1" alt="Меню" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969081/oiyngrnh1utelwzvmihv.jpg" style="width: 350px; height: 320px; " />
            <img class="side" align="left" data-id="2" alt="Меню" src="http://res.cloudinary.com/dgy6x5krf/image/upload/v1469969833/%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9_f1pxjm.jpg" style="width: 350px; height: 320px; " />
        </div>
    </td>



    <tr>
        <td><input id="save" type="button" class="btn btn-success" value="Сохранить" /> </td>
        <td></td>
    </tr>

</table>


<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
@{
    JavaScriptSerializer jss = new JavaScriptSerializer();
    string output = jss.Serialize(Model.Tags.Select(x => x.Name));
    string source = jss.Serialize(ViewBag.Tags);
}

<script>
    $('#tags').tagEditor({ 
        initialTags: @Html.Raw(output), 
        autocomplete: { 
            delay: 0, // show suggestions immediately 
            position: { collision: 'flip' }, // automatic menu position up/down 
            source: @Html.Raw(source)}, 
        forceLowercase: false, 
        placeholder: 'теги здесь ...' 
    });
</script>
    $("#uploadFile").change(function () {
        readURL(this);
    });
</script>
