@model Sitemaker.Models.Site


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <table>
            <tr><td><p>Введите название сайта :</p></td></tr>
            <tr>
                <td><input type="text" id="Name" value=@Model.Name disabled="disabled"/> </td>
            </tr>
            <tr>
                <td><p>Описание :</p></td>
            </tr>
            <tr>
                <td><textarea cols="100" id="Textarea" rows="5" disabled="disabled">@Model.About </textarea></td>
            </tr>
            <img style="width:120px; height:120px" src="@Model.Logo" />
            @foreach (var x in Model.Pages)
            {
                <li><a href="@Url.Action("Page", "Sites", new { id = Model.Id, pageId = @x.Id })" class="btn btn-primary">@x.Id</a></li>
            }
            <tr>
                <td><a href="@Url.Action("LoadPage", "Sites", new {userName = Model.UserName, id = Model.Id})" class="btn btn-primary">Create Page</a></td>
                <td><a href="@Url.Action("CreateMenu", "Sites", new {userName = Model.UserName, id = Model.Id})" class="btn btn-primary">Create Menu</a></td>
                <td><input id="saveChange" type="button" class="btn btn-success" value="Сохранить изменения" /> </td>
            </tr>

        </table>

    </div>
</body>
</html>
