@model PagedList.IPagedList<Sitemaker.Models.Site>
    @using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<style type='text/css'>
    #signature {
padding-top:20%;
    }
</style>

<table class="table">
    <tr>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               <h2><a href="@Url.Action("OpenSite", "Sites", new {userName = (string)Session["CurrentUserName"], id = item.Id, indicator = false})">@item.Name</a></h2>
                <p>
                    <img style="width:120px; height:120px" src="@item.Logo" />
                </p>
                </td>
               <td> 
                   @item.About
               </td>
            <td id="signature"><a href="@Url.Action("ShowUser", "Sites", new {userName = (string)Session["CurrentUserName"], siteCreator = item.UserName })">@item.UserName</a>, @item.Date</td>
        </tr>
    }
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))