@model Sitemaker.Models.Page
@{
    Layout = null;
    var TemplateId = (int)Session["TemplateId"];
}

<!DOCTYPE html>
@Styles.Render("~/Content/PageLayout")
<html>
    @{ if (TemplateId == 1)
            { @Styles.Render("~/Content/StyleGray")}
        else
        { @Styles.Render("~/Content/StyleWhight")}
    }
    <link href="~/Content/PageLayout.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/dropzone")
    @Styles.Render("~/Content/Layout")

    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <section class="grid-wrap">
            @if (Model.HtmlCode != null)
            {
                @Html.Raw(Model.HtmlCode)
            }


        </section>
    </div>
</body>
</html>
