@model IEnumerable<Sitemaker.Models.Site>
@{
    ViewBag.Title = "ShowMySite";
}

<h2>ShowMySite</h2>



<table class="table">
    <tr>
        <th>
            @Resources.Resource.Name
        </th>
        <th>
            @Resources.Resource.Description
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.GetSubDescription()
            </td>
            <td>

                <a href="@Url.Action("Details", "Sites", new {userName = (string) Session["CurrentUserName"], id = item.Id})" class="btn btn-default">@Resources.Resource.Details</a>
                <a href="@Url.Action("Delete", "Sites", new {userName = (string) Session["CurrentUserName"], id = item.Id})" class="btn btn-default">@Resources.Resource.Remove</a>
                
                @if (!item.Pablish&&!(bool) Session["userBlock"])
                {
                    <a href="@Url.Action("PublishSite", "Sites", new { userName = (string)Session["CurrentUserName"], id = item.Id })" class="btn btn-default">@Resources.Resource.Publish</a>
                
                }
            </td>
        </tr>
    }
    </table>



