@model PagedList.IPagedList<Sitemaker.Models.Site>
@using PagedList.Mvc
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Rating")
<link href="~/Content/tags.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".stars").each(function (i, mainelement) {
            let id = $(mainelement.children).attr("id");
            let averageRating = +(id);
            let label = $(mainelement.children).children();
            $(label).each(function (i, element) {
                if (mainelement.children.form == element.parentElment) {
                    if (i / 2 < +(averageRating)) $(element).addClass("selected")
                    else return false;
                }
            });
            if (+(averageRating) == 5) $(label).addClass("max");
        });
    });
</script>

<meta charset="utf-8">
<style>
    #wrapper {
        width: 920px;
        margin: 0 auto;
    }

    #wrapper-bl {
        width: 280px;
        height: 400px;
        background-color: rgb(250,250,250);
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 2px 2px 15px rgba(0,0,0,.2);
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }

        #wrapper-bl h2 {
            color: rgb(100,100,100);
            font-size: 40px;
            text-align: center;
            margin: 15px 0 0 0;
        }

        #wrapper-bl .logo {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 50%;
            margin: 10px auto 0 auto;
            background: url(grand_theft_auto_grand_theft_auto_online_gta_5_102136_1920x1080.jpg) repeat;
        }

        #wrapper-bl p {
            font-family: "Comic Sans MS", serif;
            font-size: 12px;
            color: rgb(100,100,100);
            font-style: italic;
            width: 200px;
            margin: 15px auto 0 auto;
        }

        #wrapper-bl .button {
            display: block;
            margin: 20px auto 0 auto;
            width: 150px;
            height: 40px;
            background: rgb(120,120,120);
            color: rgb(245,245,245);
            text-decoration: none;
            text-align: center;
            line-height: 40px;
            border-radius: 4px;
            box-shadow: 0 -3px rgb(150,150,150) inset;
            transition: 0.3s;
        }

            #wrapper-bl .button:hover {
                background: rgb(215,215,215);
                color: rgb(100,100,100);
            }

        #wrapper-bl .line {
            width: 200px;
            height: 1px;
            margin: 20px auto 0 auto;
            background: rgb(230,230,230);
        }

        a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}
</style>
<div id="wrapper">
    <div style="float: right; width: 100%">
        <h2> @Html.ActionLink("Date", "SortByDate", "Sites", new {@class = "rating".Equals(Session["sort"]) ? "" : "disabled"}) | @Html.ActionLink("Rating", "SortByRating", "Sites", new {@class = "rating".Equals(Session["sort"]) ? "disabled" : ""}) </h2>
        <p></p></div>
    
    @{
        foreach (var item in Model)
        {
            <div id="wrapper-bl">
                <h2><a href="@Url.Action("Site", "Sites", new {userName = @item.UserName, id = @item.Id})">@item.Name</a>
                </h2>
                <div class="logo"><img style="width: 100px; height: 100px" src="@item.Logo"/>
                </div>
                <a href="@Url.Action("Comments", "Sites", new {userName = User.Identity.IsAuthenticated ? (string) Session["CurrentUserName"] : "Anonymous", id = item.Id})" class="button">Comments</a>
                <div class="line"></div>
                <div class="stars" id="@item.Id" style="left: 100px">
                    <div class="rating" style="display: none" id="@item.AverageRating"></div>
                    <form action="" class="formstars">
                        <input class="star star-1" id="1" type="radio" name="star"/>
                        <label class="star star-1" for="1"></label>
                        <input class="star star-2" id="2" type="radio" name="star"/>
                        <label class="star star-2" for="2"></label>
                        <input class="star star-3" id="3" type="radio" name="star"/>
                        <label class="star star-3" for="3"></label>
                        <input class="star star-4" id="4" type="radio" name="star"/>
                        <label class="star star-4" for="4"></label>
                        <input class="star star-5" id="5" type="radio" name="star"/>
                        <label class="star star-5" for="5"></label>
                    </form>
                </div>
                <div class="line" style="position: absolute"></div>
                <a href="@Url.Action("ShowUser", "Sites", new {userName = item.UserName}) " style="text-align: center; padding: 1%;"> @item.UserName</a>, @item.Date
            </div>
        }
    }
</div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

